
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    color: white;
    height: 400px;
    background-image: url("/lab-css-recipes-clone/french-soup/images/soup.jpg");
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.explanation {
    text-align:justify;
    align-items: center;
    margin: 50px;
}

.ingredients {
    margin: 50px;
}
div {
    
}

ul {
    list-style-type:"- " ;
}

hi {
    text-align: center;
}
.details {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.directions {
    margin: 50px;
}

.image {
    height: 100px auto;
}